.rebar/*
.eunit/*
deps/*
priv/*
*.o
include/*_pb.hrl
*.beam
doc
test.*-temp-data
ebin
/.eqc-info
/current_counterexample.eqc
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
tags
erln8.config
.idea
riak_kv.iml
_build/
.rebar3/
rebar.lock
.DS_Store
src/riak_core_pb.erl
*@*
undefined
log/crash.log
_checkouts/
