*~
*.gg
.rebar/*
.eunit/*
deps/*
priv/*
*.o
*.beam
doc
test.*-temp-data
ebin
/.eqc-info
/current_counterexample.eqc
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
tags
erln8.config
.idea
riak_kv.iml
deps
