%% -*- mode: erlang -*-
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types}
]}.

{erl_first_files, ["src/riak_kv_backend.erl"]}.

{deps, [
    {bitcask, ".*", {git, "https://github.com/basho/bitcask.git", {tag, "2.0.6"}}},
    {riak_dt, ".*", {git, "https://github.com/basho/riak_dt.git", {tag, "2.1.3"}}},
    {riak_pipe, ".*", {git, "https://github.com/basho/riak_pipe.git", {branch, "riak_ts-develop"}}},
    {riak_api, ".*", {git, "https://github.com/basho/riak_api.git", {branch, "riak_ts-develop"}}},
    {riak_ql,  ".*", {git, "https://github.com/basho/riak_ql.git", {branch, "develop"}}},
    {gpb, "3.26.*", {git, "https://github.com/basho/gpb.git", {tag, "3.26.4"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used
]}.

{eunit_opts, [verbose]}.

{proto_opts, [
    {compiler, gpb},
    {src_dirs, ["src"]}
]}.

{gpb_opts, [
    {epb_compatibility, true},
    {defs_as_proplists, true},
    {type_specs, true},
    {strings_as_binaries, true},
    {include_as_lib, false}
]}.

%% Fixes attempted removal of riak_pb directory by rebar_escripter
{escript_name, "doesnothavescript"}.

{edoc_opts, [{preprocess, true}]}.
