%% -*- mode: erlang -*-
{erl_opts, [%warnings_as_errors,
            debug_info,
            {platform_define, "^[0-9]+", namespaced_types},
            {parse_transform, lager_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{cover_enabled, true}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.

{deps, [
       gen_fsm_compat,
        {riak_core, ".*", {git, "git://github.com/basho/riak_core.git", {branch, "develop-3.0"}}}
       ]}.

{plugins, [{rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}]}.
