{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [warnings_as_errors, {parse_transform, lager_transform}]}.

{erl_first_files, [
                   "src/riak_kv_backend.erl",
                   "src/riak_index_backend.erl"
                  ]}.

{deps, [
        {riak_core, "1.0.3", {git, "git://github.com/basho/riak_core",
                                    {tag, "1.0.3"}}},
        {riakc, "1.2.0", {git, "git://github.com/basho/riak-erlang-client",
                               {tag, "1.2.0"}}},
        {luke, "0.2.4", {git, "git://github.com/basho/luke",
                              {tag, "luke-0.2.4"}}},
        {erlang_js, "1.0.0", {git, "git://github.com/basho/erlang_js",
                             {tag, "1.0.0"}}},
        {bitcask, "1.4.1", {git, "git://github.com/basho/bitcask",
                                 {tag, "1.4.1"}}},
        {merge_index, "1.0.1", {git, "git://github.com/basho/merge_index",
                                 {tag, "1.0.1"}}},
        {ebloom, "1.1.0", {git, "git://github.com/basho/ebloom",
                                {tag, "1.1.0"}}},
        {eper, ".61", {git, "git://github.com/basho/eper.git",
                        {tag, "0.61"}}},
        {eleveldb, "1.0.1", {git, "git://github.com/basho/eleveldb.git", {tag, "1.0.1"}}},
        {sext, ".*", {git, "git://github.com/esl/sext", "f476e50"}},
        {riak_pipe, "1.0.3", {git, "git://github.com/basho/riak_pipe.git",
                                {tag, "1.0.3"}}},
        {basho_metrics, "1.0.0", {git, "git://github.com/basho/basho_metrics.git",
                                {tag, "1.0.0"}}}
       ]}.
