{require_otp_vsn, "R13B04|R14"}.
{cover_enabled, true}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [
        {riak_core, "0.12.0", {hg, "http://bitbucket.org/basho/riak_core",
                             "tip"}},
        {riakc, "0.2.0", {hg, "http://bitbucket.org/basho/riak-erlang-client",
                          "tip"}},
        {luke, "\.*", {hg, "http://bitbucket.org/basho/luke",
                             "tip"}},
        {erlang_js, "0\.4", {hg, "http://bitbucket.org/basho/erlang_js",
                             "erlang_js-0.4"}},
        {bitcask, "1.0.3", {hg, "http://bitbucket.org/basho/bitcask",
                            "tip"}},
        {ebloom, "1.0.1", {hg, "http://bitbucket.org/basho/ebloom",
                       "ebloom-1.0.1"}}
       ]}.
