%% -*- mode: erlang -*-
{erl_opts, [
    debug_info,
    warnings_as_errors,
    {platform_define, "^[0-9]+", namespaced_types},
    {i, "./_build/default/plugins/gpb/include"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used
]}.

{eunit_opts, [verbose]}.

{plugins, [rebar3_gpb_plugin,
           {riak_pb_msgcodegen, {git, "git://github.com/tsloughter/riak_pb_msgcodegen",
                                      {branch, "master"}}},
           {rebar3_eqc, {git, "https://github.com/Vagabond/rebar3-eqc-plugin", {branch, "master"}}}
          ]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {msg_name_to_lower, true},
            {i, "src"}]}.

{provider_hooks, [
    {pre, [{compile, {protobuf, compile}},
           {compile, riak_pb_msgcodegen}]}
]}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
    deprecated_function_calls, deprecated_functions]}.
