%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors,
           {i, "./_build/default/plugins/gpb/include"}
           ]}.

{deps, [
       {riak_pb, {git, "https://github.com/basho/riak_pb.git", {branch, "develop-3.0"}}}
       ]}.

{plugins, [rebar3_gpb_plugin]}.

{gpb_opts, [{module_name_suffix, "_pb"},
            {msg_name_to_lower, true},
            {i, "src"}]}.

{provider_hooks, [{pre, [{compile, {protobuf, compile}}]}]}.
